/* see https://github.com/tailwindlabs/tailwindcss/discussions/17127 */
@import "../../../packages/app/global.css";

@plugin "../../../packages/app/heroui.ts";
@source "../../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

/**
	 * Building on the RNWeb reset:
	 * https://github.com/necolas/react-native-web/blob/master/packages/react-native-web/src/exports/StyleSheet/initialRules.js
	 */
html,
body,
main {
	width: 100%;
	/* To smooth any scrolling behavior */
	-webkit-overflow-scrolling: touch;
	margin: 0px;
	padding: 0px;
	/* Allows content to fill the viewport and go beyond the bottom */
	min-height: 100%;
}

main {
	flex-shrink: 0;
	flex-basis: auto;
	flex-direction: column;
	flex-grow: 1;
	display: flex;
	flex: 1;
}

html,
body {
	/* Prevent text size change on orientation change https://gist.github.com/tfausak/2222823#file-ios-8-web-app-html-L138 */
	-webkit-text-size-adjust: 100%;
	height: 100%;
	overflow-x: hidden;
}

* {
	scrollbar-width: none;
}

body {
	display: flex;
	/* Allows you to scroll below the viewport; default value is visible */
	overflow-y: auto;
	overscroll-behavior-y: contain;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-overflow-style: scrollbar;
}

/* https://stackoverflow.com/questions/2989263/disable-auto-zoom-in-input-text-tag-safari-on-iphone */
@supports (-webkit-overflow-scrolling: touch) {
	input {
		font-size: 16px;
	}
}

@theme {
	--font-sans:
		"Inter", "ui-sans-serif", "system-ui", "sans-serif", "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
