@import "tailwindcss";
@import "uniwind";

@theme {
	/* Sync this with styles.ts */
	--breakpoint-xs: 320px;
	--breakpoint-sm: 480px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1240px;
}
